.git
.dockerignore
.env
bookshelf/node_modules/
bookshelf/vendor/bundle/
bookshelf/tmp/
.DS_Store
.bin
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
spec
tmp
log
test
config/deploy
public/packs
public/packs-test
coverage/
.env
.env.*
!.env.dockerbuild
.git
.gitignore
.byebug_history
tmp/*
log/*
public/system
Dockerfile*
docker-compose*
*.md
.github