.git
.dockerignore
.env
bookshelf/node_modules/
bookshelf/vendor/bundle/
bookshelf/tmp/
.DS_Store
.bin
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
spec
tmp
log
test
config/deploy
public/packs
public/packs-test
coverage/
.env